.title {  font-family: "Times New Roman", Times, serif; font-size: 24px; font-weight: bold; color: #000000}
.fields {font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 12px;color: #333333;}
.fileds_comment {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #333333; font-weight: normal}
.subtitle {font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 18px;font-weight: bold;color: #000000;}
.searchresults { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; text-decoration: underline}
input {  background-color: #F6F6F6; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
select {  background-color: #F6F6F6; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
a:hover {  color: #FF0000}
a:link {
	color: #000066;
}
